body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
  overflow-x: hidden;
}

/* Global */

ul{
  margin:0;
  padding:0;
}

.scroll::-webkit-scrollbar {
   display: none;
 }

/* Header */
header{
	width: 100%;
  background:#1212bb;
  color:#ffffff;
  padding:20px 10px 10px 80px;
  border-bottom:#fff 3px solid;
}



header a{
  color:#aaa;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header .active{
	color: #000;
	font-weight: bold;
}

header ul{
	padding-left: 200px;
}
header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

/* left nav bar */
/* Left Nav Bar */
.left-bar{
  top:73px;
  height:100%;
  width:200px;
  position:fixed;
  z-index:1;
  left:0;
  background-color:#111;
  overflow-x:hidden;
  padding-top:20px;
}

.left-bar a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 16px;
  color: #ddd;
  display: block;
}

.left-bar a:hover{
  background: #f2f2f2;
  color: #000;
}

.left-bar a:active{
  background: #ddd;
  color: #000;
}

.left-bar .current{
  background: #ddd;
  color: #000;
}

/* main page */
.cover {
	position: absolute;
	top: 20%;
	left: 20%;
}

.float-card {
	padding: 15px;
  	margin-top: 30px;
  	box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.1);
}

.float-card img {
	width: 100%;
	object-fit: cover;
	border-radius: 3px;
	/* background-color: white; */
	box-shadow: 0 3px 20px 11px rgba(0, 0, 0, 0.09);
}

.float-card .top-sec {
	margin-top: -30px;
	margin-bottom: 15px;
}

/* load bar from: https://www.pexels.com/blog/css-only-loaders/ */
.overlay {
  background: #fff;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #c0392b;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #27ae60;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
/* end of load bar content */

/* Main Content */
.main {
  padding-left: 200px;
}

.main .top-content{
  width: 80%;
  background: #ddd;
}

.main .top-content p{
  padding: 10px 10px 10px 10px;
}

.image{
  width: 400px;
  height: 400px;
}

.drawBar{
  position: absolute;
  top: 100px;
  left: 75%;
  width: 100px;
  height: 100px;
  background-color: #ccc;
}

.drawBar li{
  padding: 10px 0px;
  list-style-type: none;
}

.colorBtn{
  position: absolute;
  left: 40px;
  text-align: center;
  padding: 10px;
  background-color: #000;
  border 2px #000;
}

.colorBtn:hover{
  cursor: pointer;
}

.cstmBtn{
  border-radius: 30px;
  background-color: #898989;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50px;
  font-size: 17px;
  font-weight: bold;
}

.cstmBtn:hover{
  background-color: #bbbbbb;
  cursor: pointer;
}

.messages{
  position: relative;
  margin: 40px;
  width: 800px;
  height: 800px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-color: #d2d2d2;
}

.messages .text-bar{
  position: absolute;
  bottom: 0;
  width: 798px;
  height: 75px;
  background-color: #fff;
  border-top: solid 5px #bbb;
}

.text-bar textarea{
  resize: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.text-bar .text-input{
  font-size: 17px;
  margin-top: 5px;
  margin-left: 20px;
  border-radius: 5px;
  border-color: #000;
  border-width: 2px;
}

.text-bar .submit-btn{
  width: 50px;
  height: 40px;
  border-style: solid;
  border-radius: 5px;
  border-color: #000;
  background-color: #000;
  font-size: 30px;
  line-height: 1.25;
  text-align: center;
  color: #fff;
  float: right;
  margin: 10px 50px 0px 0px;
  cursor: pointer;
}
